.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom */
/* .nav-item a:hover {
   color: red !important;
} */

.sidebar {
  height: 100%;
}

.sidebar ul li:hover {
  background-color: #eff3f2;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar ul li a:hover {
  color: black !important;
}

.sidebar .active {
  background-color: #eff3f2;
  border-radius: 5px;
}

.justify-icon {
  margin-left: 5px;
}


.nav-margin {
  margin-top: 5px;
}

.nav-margin a {
  margin-left: 5px;
}

.button-margin {
  margin-top: 10px !important;
}

.button-charge-change {
  float: inline-end;
}

.invisible-button {
  display: none;
}

.drop-down-bg {
  background-color: black;
}

.marg-top {
  margin-top: 10px !important;
}

.img-centered-view {
  /* position: fixed; */
  width: 80% !important;
  height: auto !important;
  margin-top: 25% !important;
  margin-left: 50% !important;

  transform: translate(-50%, -50%);
}

.invisible-div {
  display: none;
}

.table-center {
  text-align: center !important;
}

/* timeline */
.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    flex-shrink: 0;
  }
  .timeline {
    position: relative;
    padding-left: 20px;
  }
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    height: 100%;
    width: 2px;
    background: #ddd;
    z-index: 0;
  }
  .timeline-item {
    position: relative;
    padding-left: 25px;
  }
  .timeline-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6px;
    height: 100%;
    width: 2px;
    background: transparent;
  }
  .timeline-item:last-child::before {
    height: 50%; /* Line stops halfway for the last item */
  }
  .timeline-item h6 {
    font-weight: bold;
  }
  .timeline-item p {
    margin-top: 5px;
    margin-bottom: 0;
  }
